Parte BPEL/CALCULADORA2/bpelContent/Analizador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Analizador.ISI" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Analizador.ISI" xmlns:intf="http://Analizador.ISI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Analizador.ISI" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="analizar">
    <complexType>
     <sequence>
      <element name="expresion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="analizarResponse">
    <complexType>
     <sequence>
      <element name="analizarReturn" type="impl:Resultado"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Resultado">
    <sequence>
     <element name="mensajeError" nillable="true" type="xsd:string"/>
     <element name="numero1" type="xsd:int"/>
     <element name="numero2" type="xsd:int"/>
     <element name="operador" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="analizarRequest">

      <wsdl:part element="impl:analizar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="analizarResponse">

      <wsdl:part element="impl:analizarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Analizador">

      <wsdl:operation name="analizar">

         <wsdl:input message="impl:analizarRequest" name="analizarRequest">

       </wsdl:input>

         <wsdl:output message="impl:analizarResponse" name="analizarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnalizadorSoapBinding" type="impl:Analizador">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="analizar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="analizarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="analizarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnalizadorService">

      <wsdl:port binding="impl:AnalizadorSoapBinding" name="Analizador">

         <wsdlsoap:address location="http://localhost:8090/ANALIZADOR/services/Analizador"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
